vti_encoding:SR|utf8-nl
vti_author:SR|sepaulso
vti_timecreated:TR|13 Jul 2000 14:50:22 -0500
vti_syncwith_pv1113\:80/transitmaster:TR|18 May 2000 08:10:26 -0500
vti_filesize:IR|1920
vti_modifiedby:SR|sepaulso
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|18 May 2000 08:10:26 -0500
vti_extenderversion:SR|4.0.2.3406
vti_timelastmodified:TR|23 Mar 2001 15:17:24 -0000
vti_syncwith_pv1113\\e\:\\webpub:TR|18 May 2000 08:10:26 -0500
vti_syncwith_localhost\\c\:\\frontpage webs\\content\\transitmaster/c\:/frontpage webs/content/transitmaster:TR|23 Mar 2001 15:17:24 -0000
vti_cacheddtm:TX|06 Apr 2001 18:11:09 -0000
vti_cachedlinkinfo:VX|S|indbanna.gif S|indhorsa.gif S|indbul1a.gif S|indbul2a.gif S|indbul3a.gif S|indhbusa.gif S|indhbuda.gif S|indhbuha.gif S|indvbusa.gif S|indvbuda.gif S|indvbuha.gif S|indhomda.gif S|indhomha.gif S|indhomsa.gif S|indupda.gif S|indupha.gif S|indupsa.gif S|indpreda.gif S|indpreha.gif S|indpresa.gif S|indnexda.gif S|indnexha.gif S|indnexsa.gif S|indbul1a.gif S|indbul2a.gif S|indbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/indust/indbanna.gif FSUS|_themes/indust/indhorsa.gif FSUS|_themes/indust/indbul1a.gif FSUS|_themes/indust/indbul2a.gif FSUS|_themes/indust/indbul3a.gif FSUS|_themes/indust/indhbusa.gif FSUS|_themes/indust/indhbuda.gif FSUS|_themes/indust/indhbuha.gif FSUS|_themes/indust/indvbusa.gif FSUS|_themes/indust/indvbuda.gif FSUS|_themes/indust/indvbuha.gif FSUS|_themes/indust/indhomda.gif FSUS|_themes/indust/indhomha.gif FSUS|_themes/indust/indhomsa.gif FSUS|_themes/indust/indupda.gif FSUS|_themes/indust/indupha.gif FSUS|_themes/indust/indupsa.gif FSUS|_themes/indust/indpreda.gif FSUS|_themes/indust/indpreha.gif FSUS|_themes/indust/indpresa.gif FSUS|_themes/indust/indnexda.gif FSUS|_themes/indust/indnexha.gif FSUS|_themes/indust/indnexsa.gif FSUS|_themes/indust/indbul1a.gif FSUS|_themes/indust/indbul2a.gif FSUS|_themes/indust/indbul3a.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
